<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<style>
			img{
				margin:  0 20% 0 0 ;
			}
			div{
				color:#793456;
				font-size: 15;
			}

  	</style>
  	<link rel="stylesheet" href="\static\css\style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">	
</head>
<body>
	<h6 style="сolor: yellow; margin: 10px 20px; font-size: 30px";>Мы - компания независимых интузиастов.</h6>
	<div>
		Мы создаём юмористический контент, собираем его в различных источниках и соединяем всё это на нашем прекрасном сайте.
	</div>
	<img src="\static\img\clowns.gif" alt="">
</body>
</html>