<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>MYCOMPANY</title>
	<link rel="stylesheet" href="\static\css\style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">	
</head>
<body>
	<header> 
		<div></div>
		<nav class = "sticky">
			<div class="menu">
					<ul>
						<li><h3>МЕНЮ</h3>
							<ul>
							
							<li><a href="#up">Основная</a></li>							
							<li><a href="#categories">Категории</a></li>
							<li><a href="#">Источники</a></li>
							<li><a href="registrate">Регистрация</a></li>
							<li><a href="#cards">Контакты</a></li>
							<li><a href="company">О нас</a></li>
							</ul>	
						</li>
					</ul>
					
					
								
			</div>
		</nav>
			
	</header>
	<main>
		<div class="main-welcome" id = "up">
		<h1 >Добро пожаловать на<br><span class="mycompany">ПЛАНЕТУ ЮМОРА</span></h1>
				
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odio!</p>
		</div>
		<div class="wrapper">
			<div class="main-about">
				
				<div class="about-left">			
					<h1>Lorem ipsum dolor sit.</h1>
					<br>
					<video controls = "controls"><source src="\static\vid\circus.mp4"></video>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi amet sint et quasi? Vitae sint fuga ut suscipit, blanditiis incidunt!</p>
					<ul type="disc">
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, tenetur.</li>
						<li>Lorem ipsum dolor sit amet,  elit. Voluptatum, nemo!</li>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing. Distinctio, vitae!</li>
					</ul>
				</div>
				<div class="about-right">
					<img src="\static\img\5792406.png" alt="mac">
				</div>	
				<div>
					
				</div>
			</div>
		</div>
		<div class="main-services">
			<div class="wrapper">
				<h1 style="сolor: yellow; margin: 10px 20px" id = "categories">ИНТЕРЕСНОЕ</h1>
				<ol start = "1">
					<li>
						Анекдоты.
					</li>
					<li>
						Нейроновости.
					</li>
					<li>
						Истории из жизни.
					</li>
				</ol>
				<div class="services-cards" id="cards">
					<div class="services-card">
						<img src="https://www.maxline-opt.ru/upload/Телефон.jpg" alt="card">
						<h4>ПРИЛОЖЕНИЕ</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, officiis, ex.</p>	
					</div>
					<div class="services-card">
						<img src="https://klike.net/uploads/posts/2022-08/1661923545_j-26.jpg" alt="card">
						<h4>ПАРТНЁРЫ</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, officiis, ex.</p>	
					</div>
					<div class="services-card">
						<img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/3d55a620686175.562ef71a4d8f2.jpg" alt="card">
						<h4>РЕКЛАМА</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, officiis, ex.</p>	
					</div>
					<div class="services-card">
						<img src="https://top-kirov.ru/assets/mgr/images/afisha/2019/05/prostye-metody-po-privlecheniyu-deneg/2019-05-28-164176162.jpg" alt="card">
						<h4>ПОДДЕРЖКА</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, officiis, ex.</p>	
					</div>
				</div>
			</div>
		</div>
		




	</main>
	<footer>
		
	</footer>


</body>
</html>